@import "../../shared";

#banner{
  height: 15vh;
  background-color: $orange;
  color: $white;
}

#menu{
  height: 10vh;
  background-color: $dark-grey;
}

.difficulty-button{
  @include dynamic-button($green, $dark-grey)
}
